.heading{
  display: flex;
  align-items: center;
  justify-content: center;
}

#heading{

  color: red;
  text-shadow: 3px 3px 5px black, 5px 5px 2px blue, 3px 3px 1px navy;
  font-size: 62px;

}

.parent{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

#child1{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 5px;
  justify-content: center;
  flex-direction: column;
  padding-left: 10px;
}

#child2{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 20px;

}

#text{
  height:350px;
  width: 350px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid black;
}

#download-btn{
  height: 45px;
  padding: 2px 5px 2px 5px;
  width: fit-content;
  border: none;
  font-size: 18px;
  font-weight: 600;
  background-color: red;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}


#red{
  height: 45px;
  width: 45px;
  background-color: red;
  border: none;
  cursor: pointer;
}

#green{
  height: 45px;
  width: 45px;
  background-color: green;
  border: none;
  cursor: pointer;
}

#blue{
  height: 45px;
  width: 45px;
  background-color: blue;
  border: none;
  cursor: pointer;
}

#yellow{
  height: 45px;
  width: 45px;
  background-color: yellow;
  border: none;
  cursor: pointer;
}
#purple{
  height: 45px;
  width: 45px;
  background-color: purple;
  border: none;
  cursor: pointer;
}

#text-color{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bg-color{
  display: flex;
  flex-direction: column;
  align-items: center;
}


#text-color-names{
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
}


#sub-heading{
  font-size: 30px;
  color: mediumorchid;
}